.about-container{
    margin-left: 8vw;
    width: 92vw;
    height: 100%;
    // background-color: #1b1b1b;
    padding: 20px 0px;
    h2{
        text-align: center;
        color: white;
        margin: 0px;
        font-size: 30px;
    }
    .about-info{
        display: flex;
        height: 100%;
        .explorer-section{
            background-color: #1b1b1b;
            width: 20vw;
            color: white;
            padding: 10px 10px;
            .explorer-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
            }
            .accordian-container{
                background-color: #1b1b1b;
                box-shadow: none;
                .dropdown{
                    color: white;
                }
            .heading-content{
                color: white;
                .filelogo-front{
                    color: orange;
                }
                .filelogo-back{
                    color: lightskyblue;
                }
                .filelogo-arvr{
                    color: greenyellow;
                }
            }
            .skill-content{
                margin-left: 20px;
                color: white;
                display: flex;
                align-items: center;
                .skill-logo{
                    width: 15px;
                    margin-right: 10px;
                }
            }
        }
        }
        .info-section{
            
            ol{
                li{
                    
                    color: grey;
                    padding: 0px 10px;
                    span{
                        color: green;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}