.contact-container{
    margin-left: 8vw;
    width: 92vw;
    height: 100%;
    position: absolute;
    form{
        position: relative;
        padding: 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 350px;
        display: flex;
        flex-direction: column;
        border: 2px dashed white;
        border-radius: 10px;
        h2{
            text-align: center;
            font-size: 38px;
            color: white;
        }
        input{
            margin: 15px 0px;
            padding: 10px 5px;
            outline: none;
            border: none;
            border-bottom: 1px solid;
            font-size: 16px;
            background: black;
            color: white;
        }
        div{
            width: 100px;
            padding: 8px;
            margin: 15px 0px;
            font-weight: 500;
            font-size: 16px;
            outline: none;
            cursor: pointer;
            border: 2px solid white;
            text-align: center;
            color: white;
            border-radius: 5px;
        }
    }
}