.sidebar-container{
    position: fixed;
    // background: antiquewhite;
    height: 100vh;
    width: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-container {
    ul{
        margin: 0;
        list-style: none;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .router-link{
            text-decoration: none !important;
        }
        li{
            writing-mode: tb-rl;
            transform: rotate(-180deg);
            margin: 20px 0px;
            cursor: pointer;
            font-weight: 500;
            -webkit-transition: color 0.2s linear; 
            transition: color 0.2s linear; 
            color: white;
        }
        :hover{
            text-decoration: underline dashed;
            color: orangered;
        }
    }
}


.logo-container{
    padding: 20px;
    img{
        width: 100%;
        cursor: pointer;
        // background-color: white;
    }
}

.social-icons{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    svg{
        font-size: 25px;
        cursor: pointer;
        -webkit-transition: color 0.4s linear; 
        -webkit-transition: border 0.4s linear; 
            transition: color 1s linear; 
            transition: border 1s linear; 
            padding: 5px;
            color: white;
    }
    :hover{
        color: orangered;
        border: 1px dashed orangered;
        border-radius: 5px;
    }
}